<div class="comic-container">
	<div class="comic">
		<img src="{{comic image}}" title="{{comic hover}}" alt="{{comic title}}" />
	</div>
	<div class="comic-meta">
		<div class="comic-share">
			some share components up in hurrr
		</div>
		<div class="comic-controls">
			{{#link-to "" comic}}
				<i class="fa fa-fixed fa-arrow-left"></i>
			{{/link-to}}
			{{#link-to "" comic}}
				<i class="fa fa-fixed fa-arrow-left"></i>
			{{/link-to}}

			{{#link-to "" comic}}
				<i class="fa fa-fixed fa-question"></i>
			{{/link-to}}

			{{#link-to "" comic}}
				<i class="fa fa-fixed fa-arrow-left"></i>
			{{/link-to}}
			{{#link-to "" comic}}
				<i class="fa fa-fixed fa-arrow-left"></i>
			{{/link-to}}
		</div>
	</div>
	<div class="write-up">

	</div>
</div>